version: '3.8'

services:
  backend:
    build: .
    container_name: photoshoot-backend
    ports:
      - "5000:5000"
    env_file:
      - .env
    environment:
      - FLASK_DEBUG=1
    restart: always
    volumes:
      - .:/app
